<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">


   <!--
    mit AddUser:
    - Applikationsbenutzer
    - Benutzername: Ben
    - Passwort: g@nzGeheim1
    - Gruppe: admin

     -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Test SecurityContext (Ben, g@nzGeheim1)</web-resource-name>
            <url-pattern>/api/context/security-context</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>


    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Test SecurityContext (Ben, g@nzGeheim1)</realm-name>
    </login-config>

    <security-role>
        <role-name>admin</role-name>
    </security-role>


</web-app>